@(carousel: Seq[(String,Object)], panneaux: Seq[(Object, String)], realisations: Seq[String])

<!-- Header Carousel -->
@if(carousel.size > 0) {
    <header id="myCarousel" class="carousel slide">
        @carousel_part(carousel)
    </header>
}

    <!-- Page Content -->
<div class="container">

        <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Bienvenue chez MilénioConcept
            </h1>
        </div>
        @for(i <- panneaux.indices) {
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> @panneaux(i)._2</h4>
                    </div>
                    <div class="panel-body panneau">
                        @panneaux(i)._1
                    </div>
                </div>
            </div>
        }
    </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Exemples de réalisations</h2>
        </div>
        @for(i <- realisations.indices) {
            <div class="col-md-4 col-sm-6">
                <a href="@routes.Application.realisation(realisations(i).split("/").takeRight(2)(0))">
                    <img class="img-responsive img-portfolio img-hover"
                    src="@routes.Assets.at(realisations(i))"
                    alt=""
                    height="450" width="700">
                </a>
            </div>
        }
    </div>
        <!-- /.row -->

    <hr>

        <!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <h4>Pour concevoir votre cuisine, deux heures suffisent.</h4>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-default btn-block" href="@routes.Contact.edit(true)">Prendre un rendez-vous</a>
            </div>
        </div>
    </div>

    <hr>

    @footer()

</div>
    <!-- /.container -->